
<h1>Calendar</h1>


<div>
  {{#each activities}} {{!-- ref app.js l-93 --}}
    <ul>
      <li>
        <a class="" href="/user/activity/{{this.id}}">{{title}}</a>
        <!--<a href="/user/activity/edit">EDIT</a>-->
        {{#if currentUser.instructor}}
          <a href="/user/activity/{{this.id}}/edit">EDIT</a>
        {{/if}}
        
        <form action="/user/activity/{{this.id}}/book-activity" method="POST">
        
          <button type="submit" class="btn-profile">JOIN</button>
        </form>
      </li>
    </ul>
  {{/each}}
</div>
