{{!-- amenities listing  --}}

<body class="body-editback">
<h1>AMENITIES</h1>
    <section id="histoyplayers" class="histoyplayers">
        <h2>History of players</h2>
        
        <div class="allplayerinfo player-icons">
            
            <div id="johnny" class="playerinfo">                        
                <div>
                    <img class="playericonhome  btn-johnny" src="assets/img/p-johnny.jpg" alt="player">
                    <h3>JohnnyCage</h3>
                </div>
                <p>Is a martial artist and actor. He enters the Shaolin Tournament simply to prove that he does not rely on special effects in his films.</p>
                </div>
            <div id="subzero" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-subzero" src="assets/img/p-subzero.jpg" alt="player">  
                    <h3>Subzero</h3>
                </div>
                <p>Warriors from the fictional Lin Kuei clan who possess the innate ability to control ice in many forms. Has rivalry with the undead specter Scorpion due to Bi-Han killing him prior to his resurrection. </p>
            </div>    
            <div id="sonya" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-sonya" src="assets/img/p-sonya.jpg" alt="player">
                    <h3>Sonya Blade</h3>
                </div>
                <p>she is the commanding officer of the United States Special Forces. Her goal is to pursue and capture Kano, as well as eliminate his criminal syndicate, the Black Dragon</p>
            </div>
            <div id="raiden" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-rayden" src="assets/img/p-raiden.jpg" alt="player">
                    <h3>Raiden</h3> 
                </div>
                <p>Thunder god and appointed protector of Earthrealm, he defends the planet from myriad otherworldly threats alongside his handpicked warriors. He commands many supernatural abilities and control of lightning.</p>
            </div>
            <div id="liu" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-liu" src="assets/img/p-liu.jpg" alt="player">
                    <h3>Liu Kang</h3> 
                </div>
                <p>He is Shaolin monk who enters the Mortal Kombat tournament to save Earthrealm (Earth). He takes his victory in the tournament guided by his mentor, the thunder god Raiden.</p>
            </div>
            <div id="Scorpio" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-scorpio" src="assets/img/p-scorpio.jpg" alt="player">
                    <h3>Scorpio</h3>
                </div>
                <p>"Scorpion" is the alias of Hanzo Hasashi, formerly one of the finest warriors of the Japanese Shirai Ryu ninja clan, until he was slain by Bi-Han, who worked under the name "Sub-Zero". </p>
            </div>
            <div id="Kano" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-kano" src="assets/img/p-kano.jpg" alt="player">
                    <h3>Kano</h3> 
                </div>
                <p>A calculating Australian mercenary and member of the international crime cartel known as the Black Dragon, Kano is also the top fugitive and persistent nemesis of Sonya Blade</p>
            </div>
            <div id="kitana" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-subzero" src="assets/img/p-kitana.jpg" alt="player">  
                    <h3>Kitana</h3>
                </div>
                <p>Princess of Outworld and the adopted daughter of the emperor, Shao Khan. She rebels and sides with the Earthrealm warriors to fight against Shao Khan and free her realm from being part of Outworld.</p>
            </div>
        </div>
    </section>
</body>