{{!-- amenities listing  --}}

<body class="body-amenityback">

    <section id="histoyplayers" class="histoyplayers">
        
        <h1>AMENITIES</h1>
        <div class="allplayerinfo player-icons">
            
            <div id="johnny" class="playerinfo">                        
                <div>
                    <img class="playericonhome  btn-johnny" src="/images/football0.jpg" alt="player">
                    <h3>Gootball Field</h3>
                    <p>she is the commanding officer of the United States Special Forces. Her goal is to pursue and capture Kano, as well as eliminate his criminal syndicate, the Black Dragon</p>

                </div>
                {{!-- <p>Is a martial artist and actor. He enters the Shaolin Tournament simply to prove that he does not rely on special effects in his films.</p> --}}
            </div>
            <div id="subzero" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-subzero" src="/images/tennis0.jpg" alt="player">  
                    <h3>Tennis Courts</h3>
                    <p>she is the commanding officer of the United States Special Forces. Her goal is to pursue and capture Kano, as well as eliminate his criminal syndicate, the Black Dragon</p>

                </div>
                {{!-- <p>Warriors from the fictional Lin Kuei clan who possess the innate ability to control ice in many forms. Has rivalry with the undead specter Scorpion due to Bi-Han killing him prior to his resurrection. </p> --}}
            </div>    
            <div id="sonya" class="playerinfo">
                <div>
                    <img class="playericonhome  btn-sonya" src="/images/pool0.jpg" alt="player">
                    <h3>Swimming Pool</h3>
                    <p>she is the commanding officer of the United States Special Forces. Her goal is to pursue and capture Kano, as well as eliminate his criminal syndicate, the Black Dragon</p>

                </div>
            </div>
        </div>
    </section>
</body>