/* body {
  
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 
  4%,rgba(255, 255, 255, 0.911) 20%, transparent 30%, rgba(0, 0, 0, 0.308) 55%,rgba(0, 0, 0, 0.226) 100%), url(./../assets/img/background-coinbat.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  font-family: 'Montaga', serif;
  font-size: 10px;
  text-align: center;
  margin: auto;
} */

body{ 
  background-color: #f8f8f8;
  padding: 100px 0px 0px;
  font: 16px 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 1% auto 10%;
  width: 100vW;
  text-align: center ;
}
/* .body-back{
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-blend-mode: multiply; 
  height: 99vh;
  text-align: center;
  margin: auto;
} */
.body-homeback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  /* background-image:  url(./../images/fondo-all33.jpg); */
  background-image:  linear-gradient(to bottom, #f1f1f1f8 0%, #f8f8f857 100%),url(./../images/fondo-all33.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  /* background-color: rgb(255, 255, 255); */
}
.body-editback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: url(./../images/fondo-blue.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  margin: auto;
}

.body-signupback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: url(./../images/fondo-football.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
}

.body-createback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: url(./../images/fondo-tennis2.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
}
.body-loginback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: url(./../images/fondo-pool.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
}
.body-amenityback {
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: url(./../images/fondo-darkbluebig.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
}
/* .superback{
  
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(255, 255, 255, 0.911) 20%, transparent 30%, rgba(0, 0, 0, 0.308) 55%,rgba(0, 0, 0, 0.226) 100%), url(/images/football0.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  font-family: 'Montaga', serif;
  font-size: 10px;
  text-align: center;
  margin: auto;
} */


.xnavbar-top{
  /* background-color: rgba(255, 255, 255, 0.473); */
  position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
  width: 100%;
  height: 7%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.xnavbar-top .xnavbar-icon{
  padding: 0px 10px;
}
.logoutxt{
  color: #2d354c;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  width: 100%;
  /* width: 100%; */
  }


.xcar-img{
  height: 300px;
  background-color: red;
  background-blend-mode: multiply; 
  
}
.xnavbar-bottom {
  background-color: rgb(255, 255, 255);
  position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
  width: 100%;
  bottom: 0;
  overflow: hidden;
  left: 0px;
}



.xnavbar-bottom ul {
  /*float: right; recordar quitar y 
  usar bootstrap*/
  text-align: center;
  padding: 0;
  margin: 0;
}
.xnavbar-bottom li {
  display: inline-block;
  padding: .4rem 3.5%;

}
.xnavbar-bottom a {    
  text-decoration: none;  
}
.xnavbar-title{
  color:#000;
  font-size: .8rem;
  margin: 0px;
}

.xnavbar-texticon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xnavbar-icon{
  height: 10vh;
  min-height: 25px;
  max-height: 40px;
}
#iclogo {
  height: 11vh;
}
.btnback {
  height: 6vh;
  min-height: 15px;
  max-height: 30px;
}

#btn-back img {
  height: 1.8em;
}

.form p {
  font-size: .8em;
  padding-top: 3px;
}

/* #iclogo {
  height: 30px;
} */

colors {
  color: #1e2434;
  color: #2dc5fa;
  color: #fef4e5;
  color: #fcdfb5;
  color: #eaeaed;
  color: #ddb85e;
  color: #e5f3f8;
  color: #eaeaed;

}



.logosec {
  background-color: rgba(255, 255, 255, 0.767);
 margin-top: -120px;
 padding-top: 55vh;
 height: 70vh;


}
#homebiglogo {
  width: 85%; 
  max-width: 600px;
}
.firstclass {
  color: #2d354c;
font-size: 18px;
font-weight: 500;
line-height: 18px;
text-align: center;
width: 100%;
/* margin-top: -120px; */
padding-top: 30vh;
height: 65vh;
}

.firstclassbtn {
  font-family: Roboto;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    width:15rem;
    font-size: 1.8rem;
    background: rgb(45, 197, 250);
    border-radius: 0.6rem;
    text-decoration: none;
    border-width: 0px;

    padding: 2.4rem 4rem;
}
/*-----------------------F A C k-----*/

.boxwhitefaq {
  background: #fff;
  color: #2d354c;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .09);
  width: 70vw;
  margin: -40px auto 100px;
  max-width: 1200px;
  min-width: 350px;
  padding: 24px 30px 32px;
  text-align: left;
}
.titlefaq {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
}
.fulltext {
  margin-top: 3.2rem;
  color: #2d354c;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  width: 100%;
  text-align: left;
}
.fulltext p{
color: rgba(45, 53, 76, 0.6);
}


/*----------------------F O R M S------*/
#logoform{
  width: 83px;
}
.titleform{
color: #2d354c;
font-size: 18px;
font-weight: 500;
line-height: 18px;
text-align: center;
width: 100%;
/* width: 100%; */
}
.form{
/* background-color: #d6d621; */
background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .09);
  
  margin: -12px auto 0px;
  max-width: 355px;
  padding: 24px 30px 32px;

}

.blockform{
  width: 90%;
  margin: auto;
  align-items: center;
}

.labelform{
  color: #86939E;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 16px 0 8px;
  text-align: left;
}

.inputform{
  text-align: center;
  color: black;
  margin: auto;
  padding: 0px;
}

.inputform input{
  /* background-color: rgb(232, 240, 254); */
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  color: black;
  padding: 8px 5px;
  width: 95%;

}

.inputform select{
  background-color: #fff;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  color: black;
  padding: 8px 6px;
  width: 100%;
  
}
#editactivity-date{
  background-color: #fff;

}

.btnform {
  background: #2d354c;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 0;
  text-align: center;
  width: 100%;
}


/*ANGELA*/

.activity-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.activity-detail div {
  margin-left: 10px;
  padding: 20px;
  width: 50%;
  text-align: justify;
}

.activity-detail div h1,
.activity-detail div b {
  color: #2d354c;
}

.activity-pic {
  width: 600px;
}

.reviews {
  padding: 30px;
  text-align: justify;
}

.reviews div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews h1,
.reviews h3 {
  color: #2d354c;
}

.textarea{
  resize: none;
  overflow: auto;
  height: 20em;
  width: 100%;
  outline: none;
  border: none;
  background-color: #fcdfb5;
  font-size: large;
  padding: 30px;
}

.textarea-btnform {
  background: #2d354c;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 150px;
  text-align: center;
}

.starsbtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btnform-link {
  color: white;
  background: #2d354c;
  padding: 13px 100px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  border-radius: 6px;
}

.card-title {
  text-decoration: none;
  font-size: 50px;
}

.btnform-card {
  background: #2d354c;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 100px;
  text-align: center;
}

.btnprofile-cont {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.btnform-delete {
  background: #2dc5fa;
  border-color: #2dc5fa;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 50px;
  text-align: center;
}

.btnform-edit {
  background: #2dc5fa;
  border-color: #2dc5fa;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 62px;
  text-align: center;
}






/*---------------------faq--------*/



/*----------------------amenities-------*/

.histoyplayers {
  /* background: no-repeat center 5% fixed; */
  /* background-size: cover; */
  /* background-image:  url(./../assets/img/concrete-background.jpg); */
  /* background-blend-mode: multiply; */
  /* background-color: rgba(109, 109, 109, 0.507);; */
  /* height: 70vh; */
  text-align: center;
  margin: auto;
  padding: 20px 0px 70px;
}
.histoyplayers h1{
  color: #ffffff;
  /* text-shadow: 6px 6px 5px #000000; */
  text-align: center;
  /* font-family: 'Anton', sans-serif; */
  margin: -90px auto 0px;
  padding: 3% 0px 3%;
  font-size: 2.5rem;
  max-width:1200px;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: -50px 0px 20px;
  font-size: 3rem;
 
  text-align: center;
}
.titleform{
 
  
  /* width: 100%; */
  }


.histoyplayers h3{
  color: #2d354c;
  font-family: 'Roboto;', sans-serif;
  font-weight: 600;
  margin: 20px 0px 0px;
  font-size: 1.3rem;
  font-size: 18px;
  text-align: center;
  
  
}

.allplayerinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width:1300px;
  margin: auto;
  
}
.playerinfo {
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .09);
  margin: 24px auto 0px;
  padding: 24px 30px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 450px;
  min-width: 355px
}


.playerinfo p {
  text-align: left;
  font-size: 15px;
  color: rgba(45, 53, 76, 0.6);
  padding: 8px;
  /* width: 100px; */
}
.playericonhome {
width: 280px;
padding-left: 5px;
margin: auto;
}



/*---------------------------------------*/










/*rating*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Clau, rease this test line */

@media (min-width: 576px) {
  .form{
      max-width: 380px;
  }
  .logosec {
    background-color: rgba(255, 255, 255, 0.767);
   margin-top: -120px;
   padding-top: 45vh;
   height: 90vh;
  
  }
  #homebiglogo {
    width: 80%; 
    max-width: 700px;
  }

  .firstclassbtn {
    width:25rem;
    font-size: 2rem;
    padding: 2.4rem 4.8rem;
}
.firstclassbtn {
  font-family: Roboto;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    width:15rem;
    font-size: 1.8rem;
    background: rgb(45, 197, 250);
    border-radius: 0.6rem;
    text-decoration: none;
    border-width: 0px;

    padding: 2.4rem 4rem;
}
/*-----------------------F A C k-----*/

.boxwhitefaq {
  width: 80vw;
  margin: -15px auto 100px;
  max-width: 1100px;
  padding: 24px 90px 32px 60px;
}
.titlefaq {
  font-size: 3rem;
}
.fulltext {
  margin-top: 3.2rem;
  font-size: 1.2em;
}

}



@media (min-width: 992px) {
  .logosec {
    background-color: rgba(255, 255, 255, 0.767);
   margin-top: -120px;
   padding-top: 35vh;
   height: 90vh;
  
  }
  #homebiglogo {
    width: 80%; 
    max-width: 620px;
  }
  .histoyplayers h1{
    margin: -80px auto 0px;
  }

  
  .boxwhitefaq {
    width: 80vw;
    margin: -15px auto 100px;
    max-width: 1100px;
    padding: 24px 180px 32px 60px;
  }
  .titlefaq {
    font-size: 3.5rem;
  }
  .fulltext {
    margin-top: 3.2rem;
    font-size: 1.2em;
    line-height: 170%;
  }

}