body{ 
  background-color: #1e2434;;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  .navbar-top{
    background-color: rgba(255, 255, 255, 0.473);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100vw;
    height: 7%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-top .navbar-icon{
    padding: 0px 10px;
  }
  #btn-back img {
    height: 1.8em;
    
  }
  .navbar-bottom {
    background-color: rgb(255, 255, 255);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100vw;
    bottom: 0px;
    left: 0px;
    
  }
  .navbar-bottom ul {
    /*float: right; recordar quitar y 
    usar bootstrap*/
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .navbar-bottom li {
    display: inline-block;
    padding: .4rem 3%;
  
  }
  .navbar-bottom a {    
    text-decoration: none;  
  }
  .navbar-title{
    color:#000;
    font-size: 0.7rem;
    margin: 0px;
  }

  .navbar-texticon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-icon{
    height: 40px;
  
  }


  colors {
    color: #1e2434;
    color: #2dc5fa;
    color: #fef4e5;
    color: #fcdfb5;
    color: #eaeaed;
    color: #ddb85e;
    color: #e5f3f8;
    color: #eaeaed;

  }

/* Clau, rease this test line */