
body{ 
  background-color: #f8f8f8;
  padding: 50px 0px;
  font: 16px 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 1% auto 10%;
  text-align: center;
}
/* .superback{
  
  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(255, 255, 255, 0.911) 20%, transparent 30%, rgba(0, 0, 0, 0.308) 55%,rgba(0, 0, 0, 0.226) 100%), url(/images/football0.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  font-family: 'Montaga', serif;
  font-size: 10px;
  text-align: center;
  margin: auto;
} */
  .navbar-top{
    background-color: rgba(255, 255, 255, 0.473);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-top .navbar-icon{
    padding: 0px 10px;
  }
  .car-img{
    height: 300px;
    background-color: red;
    background-blend-mode: multiply; 
    
  }
  .navbar-bottom {
    background-color: rgb(255, 255, 255);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    bottom: 0;
    overflow: hidden;
    left: 0px;
  }

  .navbar-bottom ul {
    /*float: right; recordar quitar y 
    usar bootstrap*/
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .navbar-bottom li {
    display: inline-block;
    padding: .4rem 4%;
  
  }
  .navbar-bottom a {    
    text-decoration: none;  
  }
  .navbar-title{
    color:#000;
    font-size: 0.7rem;
    margin: 0px;
  }

  .navbar-texticon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-icon{
    height: 10vh;
    min-height: 25px;
    max-height: 45px;

  }
  #btn-back img {
    height: 1.8em;
        
  }

  colors {
    color: #1e2434;
    color: #2dc5fa;
    color: #fef4e5;
    color: #fcdfb5;
    color: #eaeaed;
    color: #ddb85e;
    color: #e5f3f8;
    color: #eaeaed;

  }

 /*----------------------F O R M S------*/
 #logoform{
   width: 83px;
 }
 .titleform{
  color: #2d354c;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  width: 100%;
  /* width: 100%; */
 }
 .form{
  /* background-color: #d6d621; */
  background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .09);
    
    margin: 24px auto 0;
    max-width: 380px;
    padding: 24px 30px 32px;

}

.blockform{
  width: 90%;
  margin: auto;
  align-items: center;
}

.labelform{
  color: #86939E;
  font-size: 14px;
  font-weight: bold
  line-height: 16px;
  margin: 16px 0 8px;
  text-align: left;
}

.inputform{
  text-align: center;
  color: black;
  margin: auto;
  padding: 0px;
}

.inputform input{
  /* background-color: rgb(232, 240, 254); */
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  color: black;
  padding: 8px 5px;
  width: 95%;

}

.inputform select{
  background-color: rgb(255, 255, 255);
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  color: black;
  padding: 8px 6px;
  width: 100%;
  
}

.btnform {
  background: #2d354c;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 60px;
  padding: 13px 0;
  text-align: center;
  width: 100%;
}































/*rating*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Clau, rease this test line */

