<h1>EDIT PROFILE</h1>

<form action="/user/edit-profile?user_id={{currentUserInfo._id}}" method="POST">
    <div>
        <label for="name-input">Name</label>
        <input id="name-input" type="text" name="name" value="{{currentUserInfo.name}}" required>
    </div>

    <div>
        <label for="email-input">Email</label>
        <input id="email-input" type="email" name="email" value="{{currentUserInfo.email}}" required>
    </div>

    <div>
        <label for="password-input">Password</label>
        <input id="password-input" type="password" name="password" value="e.g., ••••••••••••" required>
    </div>
    <div>
        <label for="age-input">Age</label>
        <input id="age-input" type="text" name="age"  value="{{currentUserInfo.age}}" placeholder="e.g., 136" required >
    </div>
    <div>
        <label for="instructor-input">Are you an instructor:</label>
        <select id="instructor-input" name="instructor">
            <option value=true>Yes</option>
            <option value=false selected>NO</option>
            
            
        </select>
    </div>

    <button> Submit </button>
</form>  