<h1>EDIT PROFILE</h1>

<form action="/user/edit-profile?user_id={{currentUserInfo._id}}" method="POST">
    <div>
        <label for="name-input"> Name </label>
        <input type="text" name="name" id="name-input" placeholder="{{currentUserInfo.name}}">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="{{currentUserInfo.email}}">
    </div>

    <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>

    <button> Submit </button>
</form>